 /* Selectors :
        - By TagName =>    TagName {}
        - By Id      =>    #IdOfTag {}
        - By Class   =>    .ClassName {}
        */


 p {
     color: rgb(10, 181, 173);
     font-size: x-large;
     line-height: 2;
     text-align: justify;
 }

 #Paragraph-1 {
     color: tomato;
 }

 .myStyle-1 {
     color: rgb(214, 214, 214);
     background-color: black;
 }

 .myStyle-2 {
     border: solid 5px #d253eb;
     padding: 20px;
     margin: 50px 10px;

     /* margin-top: 50px;
            margin-right: 10px;
            margin-bottom: 50px;
            margin-left: 10px; */


 }


 body {
     padding: 60px;
 }